h1 {
    color: blue;
    font-style: italic;
    text-align: start;
    font-weight: 100;
}
address{
    text-align: start;
}
img {
    display: block;
    margin-right: 150px;
    border: 1px solid #ddd;
    border-color: black;
    border-radius: 4px;
    width: 150px;
    float:right;

}
body{
    background-color: #7aa39a;
}
.resume-section{
    display: flex;
    flex-flow: row wrap;
}
footer {
    margin-top: 10px;
    background-color: #989da6 ;
    border-style: solid;
    border-width: thin;
    padding-left: 4px;
    display: flex;
    flex-flow: row-wrap;
}
.footer-links{
    display: flex;
    margin-right: 5px;
    flex-flow: row-wrap;
}
#flex-item{
    padding-right: 10px;
    margin: 5px;
}